<ion-content [fullscreen]="true">
  <ion-header class="mb-10">
    <shared-header
      enlace="/auth/register"
      enlaceName="Crear Cuenta"
      iconName="person-add"
    ></shared-header>
  </ion-header>
  <div>
    <h2></h2>
  </div>
  <form class="space-y-4 bg-gray-50 py-10 shadow-2xl shadow-gray-400">
    <div class="mx-6 space-y-8">
      <div class="relative bg-inherit">
        <input
          type="text"
          id="username"
          name="username"
          class="peer bg-transparent h-12 w-full rounded-lg text-gray-300 placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600"
          placeholder="Correo Electronico"
        /><label
          for="username"
          class="absolute cursor-text left-0 -top-2 text-sm text-gray-500 bg-inherit px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-5 peer-focus:text-sky-600 peer-focus:text-sm transition-all"
          >Correo Electronico</label
        >
      </div>
      <div class="relative bg-inherit">
        <input
          type="text"
          id="password"
          name="password"
          class="peer bg-transparent h-12 w-full rounded-lg text-gray-300 placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600"
          placeholder="Contraseña"
        /><label
          for="password"
          class="absolute cursor-text left-0 -top-2 text-sm text-gray-500 bg-inherit px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-5 peer-focus:text-sky-600 peer-focus:text-sm transition-all"
          >Contraseña</label
        >
      </div>
      <div class="flex justify-end">
        <a class="text-xs" href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button
        class="btn bg-indigo-600 font-bold text-white w-full hover:bg-indigo-900 hover:scale-95 transition-all duration-500"
      >
        Iniciar Sesión
      </button>
    </div>
  </form>
</ion-content>
