<ion-header class="bg-indigo-900 py-2">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-white mx-2">
      Orto<span class="text-yellow-600">Mind</span>
    </h1>
    <ion-button
      fill="clear"
      class="flex items-center text-white text-xs mr-2 hover:bg-indigo-600 rounded-md transition-all duration-500"
      [routerLink]="enlace"
    >
      {{ enlaceName }}
      <ion-icon class="ml-2 text-xl" name="{{ iconName }}"></ion-icon>
    </ion-button>
  </div>
</ion-header>
